.background { 
  color: tan;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: dark brown ;
}
body{
  background-color: lightblue;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
header{
font-family: freckle-face;
}
#salmon {
  border-radius: 40px;
  width: 400px;
}
city-table{
  border-block-color: black;
  color: blue;
}
td{
  border-block: brown;
  background-color: grey
}
tbody{
  border-block-color: brown;
}