.background { 
  color: tan;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: dark brown ;
}
body{
  background-img: url("");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
header{
font-family: freckle-face;
}
#salmon {
  border-radius: 40px;
  width: 200px;
  float: center;
}